<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>TZOD ONLINE</title>
    <link rel="icon" href="https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Ftzod.ico?v=1610826049616"
        type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="modal" id="modal">
        <!-- <span class="close" onclick="closeForm()">&times;</span> -->
        <div class="modal-content" id="modalContent">
            <p class="text"><b>Type a nickname:</b><br>
                <input type="text" size="40" id="nickName">
            </p>
            <button class="btn" id="" onclick="serverCfg()">
                Start server
            </button>
            <button class="btn" id="" onclick="connectCfg()">
                Connect to server
            </button>
            <br>
            <br>
        </div>
    </div>
    <div class="grid">
        <div id="tanks"></div>
        <div id="menu">
            <!-- <button class="btn" id="" onclick="openForm()">
                открить вспливашку
            </button> -->
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.24.0/dist/phaser.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script src="phaser-tilemap-plus/dist/phaser-tilemap-plus.js"></script>-->
    
  
    <script src="./collision.js"></script>
    <script src="./maps/mapList.js"></script>
    <script src="./htmlFunc.js"></script>
    <script src="./tank.js"></script>
    <script src="./script.js"></script>

</body>

</html>