*{
  cursor: url(https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fcursor.png?v=1612037791532), auto;
  animation: cursor 700ms infinite;
}

@keyframes cursor {
  0% {cursor: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fcursor.png?v=1612037791532'), auto;}
  5% {cursor: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fcursor1.png?v=1612038724825'), auto;}
  10% {cursor: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fcursor2.png?v=1612038724824'), auto;}
  15% {cursor: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fcursor3.png?v=1612038724825'), auto;}
  20% {cursor: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fcursor4.png?v=1612039183074'), auto;}
  50% {cursor: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fcursor5.png?v=1612039183075'), auto;}
  70% {cursor: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fcursor6.png?v=1612039183075'), auto;}
  100% {cursor: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fcursor7.png?v=1612039183221'), auto;}
}

.modal{
  font-size: 2rem;
  color: #f3eaec;
  display: none; /* Hidden by default */
  position: fixed;
  margin:auto;
  top: 30vh;
  left: 50vh;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation: animatetop 0.4s !important;
  background-image: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fwindow.png?v=1612034911465');
}

.modal-content{
  margin: auto;
  text-align: center;
}

.close{
 float: right;
 font-weight: bold;
 color: black;
 padding-right: 0.5rem;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 30vh; opacity: 1}
}

.grid{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 1em;
  grid-auto-rows: auto;
}

.serverList{
  width: auto;
  border: 1px solid #888;
  display: grid;
  grid-template-columns: 20% 20% 15% 10%;
  max-width: 990px;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 4%;
  grid-template-rows: auto;
}

.serverListItem{
  word-break: keep-all;
  font-size: 1.2rem;
  border: 1px solid #888;
  margin-bottom: 5px;
  margin-top: 5px;
}

.serverListItemHeader{
  margin-bottom: 25px;
  border-bottom: 1px solid #D4D7D6;
}

.btn{
  font-size: 2rem;
  color: #e4ddde;
  background-color: #8f9471;
  border: 1px solid #D4D7D6;
}

.btn:focus{
  outline-width: 0;
}

.text{
  color: #e4ddde;
}

input[type=text]{
  font-size: 1rem;
  color: #e4ddde;
  background-color: #8f9471;
  border: 1px solid #D4D7D6;
}

select{
  font-size: 1rem;
  color: #e4ddde;
  background-color: #8f9471;
}

input:focus{
  outline-width: 0;
}

.btn:hover{
background-color: #8f94717a;
}

body {
  background-image: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fback01.png?v=1610821108096');
}