.modal{
  font-size: 2rem;
  color: #f3eaec;
  display: none; /* Hidden by default */
  position: fixed;
  margin:auto;
  top: 30vh;
  left: 50vh;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-image: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fconcrite.png?v=1610827920741');
}

.modal-content{
  margin: auto;
  text-align: center;
}

.close{
 float: right;
 font-weight: bold;
 color: black;
 padding-right: 0.5rem;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 30vh; opacity: 1}
}

.grid{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 1em;
  grid-auto-rows: auto;
}

.btn{
  font-size: 2rem;
  color: #e4ddde;
  background-image: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fbrick.png?v=1610827003399');
}

.btn:focus{
  outline-width: 0;
}

input[type=text]{
  font-size: 1rem;
  color: #e4ddde;
  background-image: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fbrick.png?v=1610827003399');
}

select{
  font-size: 1rem;
  color: #e4ddde;
  background-image: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fbrick.png?v=1610827003399');
}

input:focus{
  outline-width: 0;
}

.btn:hover{
background-image: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fbrick_dmg.png?v=1610827010949');
}

.btn-concrite{
background-image: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fconcrite.png?v=1610827920741');
}

.btn-concrite:hover{
background-image: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fconcrite_select.png?v=1610827925313');
}

body {
  background-image: url('https://cdn.glitch.com/4fc97b97-fbe3-4d16-be05-c0b4fb6814b8%2Fback01.png?v=1610821108096');
}